

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300px;
  font-style: normal;
  font-variation-settings: "wdth"100;
}
#hero{
    background-image: url(../assets/Hero-bg.png);
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1895px;
}

#hero .hero-content .img{
width: 400px;
height: 300px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 32;
margin-left: 250px;


}



#hero .hero-content{
    width: 998px;
   
}

#hero .hero-content .title{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

.subtitle{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

/* main box */

.main-box{
    
width: 1140px;
height: 1100px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 80px 97px 80px 97px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
margin:74px  260px;





}
.main-title{

color:#0D1321;

font-family: Azeret Mono;
font-size: 32px;
font-weight: bolder;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.main-subtitle{
    width: 852px;
    height: 52px;
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;

}

.info{
    height: 1072px;
    
}
.first-desk{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0) 100%);
    margin-bottom: 50px;
    
}

.first-box{
    
width: 650px;
height: 260px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding-left: 50px;




}

.box-title{
    color: rgba(13, 19, 33, 0.7);

font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

width: 390px;
height: 72px;
}
.box-subtitle{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;

width: 468px;
height: 52px;
opacity: 0.7;

}

.box-btn{
width: 171px;
height: 47px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 1);
opacity: 0.7;
color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}

/* youtube-section */

.youtube-section{
    
width: 1895px;
height: 775px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;

}
.youtube-text-box{

width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;
}
.youtube-title{
width: 852px;
height: 37px;
color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.youtube-subtitle{
    width: 852px;
    height: 52px;
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

 }

 .video-section{
    
width: 1140px;
height: 614px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10;
padding: 32px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin-top: 90px;


 }

 /* my-target-section-start-from-here */
 .my-target{
width: 1895px;
height: 460px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
margin-top: 151px;

 }
 .my-target-description{
   
width: 946px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
padding-bottom: 100px;


 }

 .my-tar-title{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
width: 852px;
height: 37px;
 }

 .my-tar-subtitle{
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgba(13, 19, 33, 1);

    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    

 }

 .my-target-box{
    display: flex;
    justify-content: space-between;
    
 }

 .content-box-1{
width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
margin-right: 10px;

 }
 .content-box-2{
    width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
margin-right: 10px;
 }
 .content-box-3{
     width: 364px;
height: 299px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
 }

 .double-content-box{
   
width: 284px;
height: 219px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24;


 }

 .my-target-img{

width: 56px;
height: 56px;
 }
 .target-title{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
width: 284px;
height: 5px;

 }
 .target-sub{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
width: 284px;
height: 52px;
opacity: 0.7;

 }

 .target-box-btn{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
background:none;
border: none;
cursor: pointer;

 }

 .next-target{
   
width: 1895px;
height: 866px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
margin-top: 111px;
 }
 .nt-description{
    
width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 24;


 }
 .nt-title{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
width: 852px;
height: 37px;
 }

 .nt-subtitle{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 852px;
height: 52px;
opacity: 0.7;

 }

 .nt-box{

width: 1140px;
height: 219px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
margin-top: 90px;


 }
 .nt-box-2{

width: 1140px;
height: 219px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
margin-top: 30px;



 }
 .nt-box-3{

width: 1140px;
height: 219px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 40px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
margin-top: 30px;


 }

 .nt-info{
  /* Frame 10 */
width: 1060px;
height: 139px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24;

 }
 .nt-img{
    width: 94.78px;
height: 108px;
 }

 .nt-node{
    /* nodejs-1 1 */
width: 130px;
height: 88px;
 }
 .nt-textbox{
width: 941.22px;
height: 139px;

display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
margin-left: 30px;


 }

 .nt-box-title{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
width: 94px;
height: 10px;
 }

 .nt-box-subtitle{
    color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
width: 941.22px;
height: 52px;
opacity: 0.7;

 }

 .footer{
    width: 1895px;
height: 866px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 48;
 }


 
.foot-img{
   background-image: url(../assets/handshake.jpg);
width: 1140px;
height: 313px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 64px 48px 64px 48px;
margin-top: 100px;
border-radius: 16px;
background:rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}

 .foot-box{

width: 1044px;
height: 185px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24;


 }

 .foot-description{
width: 730px;
height: 104px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16;


 }

 .foot-title{
    color: rgba(255, 255, 255, 1);

font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
width: 292px;
height: 15px;
 }

 .foot-sub{
    color: rgba(255, 255, 255, 1);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
width: 606px;
height: 52px;
opacity: 0.7;
margin-bottom: 80px;

 }

 .search-box{
/* Frame 23 */
width: 684px;
height: 57px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 16;



 }
 .search-area{
width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 19px 20px 19px 20px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgba(255, 255, 255, 1);


 }

 .search-box-text{
    color: rgba(13, 19, 33, 0.4);

font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
width: 400px;
height: 25px;
border: none;
 }

.sub-area{
width: 120px;
height: 23px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 17px 20px 17px 20px;
border-radius: 8px;
background: rgba(255, 255, 255, 1);
margin-left: 10px;


}
.sub{
 color: rgba(13, 19, 33, 1);

font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
width: 80px;
height: 23px;
background:none;
border: none;
cursor: pointer;
}

 



